# Sample service file for systemd user service
# Copy file under '~/.config/systemd/user
# Enable service 'systemctl --user enable picframe.service'
# Disable service 'systemctl --user disable picframe.servcie'
# Start service 'systemctl --user start picframe.service'
# Stop service 'systemctl --user stop picframe.service'
# Stop restart 'systemctl --user restart picframe.service'
# Check logfiles #journalctl --user-unit picframe.service'

[Unit]
Description=picture_fram on Pi3

[Service]
ExecStart=/home/pi/.local/bin/picture_frame ~/picture_frame/config/configuration.yaml
Restart=always

[Install]
WantedBy=default.target
